<a href="https://colab.research.google.com/github/127-0-0-vvk/python-functions-11-18/blob/main/python_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction of Statements

In [1]:
print("hello world")

hello world

### Defining Variables

In [1]:
x = 1
x

1

### More interesting fats about statements

In [2]:
var = 1
var2 = 2
var + var2

3

##Loops

In [3]:
for i in range(10):
    print(f"This is the loops number: {i}")

This is the loops number: 0
This is the loops number: 1
This is the loops number: 2
This is the loops number: 3
This is the loops number: 4
This is the loops number: 5
This is the loops number: 6
This is the loops number: 7
This is the loops number: 8
This is the loops number: 9

### List

In [8]:
my_basket = ["apple", "carrot", "bread", "icecream"]
len(my_basket)

4

In [9]:

for food in my_basket:
    print(f"i am hungry and iam going to eat: {food}")

i am hungry and iam going to eat: apple
i am hungry and iam going to eat: carrot
i am hungry and iam going to eat: bread
i am hungry and iam going to eat: icecream

### Dictionary

In [10]:
my_dict =  {"one": "apple", "two": "eggs", "three": "bread"}
len(my_dict)

3

In [12]:
my_dict.values()

dict_values(['apple', 'eggs', 'bread'])

0(1) Lookup

In [13]:
"one" in my_dict

True

### Looping with dictionary

In [16]:
for number, food in my_dict.items():
    print(f"This is {number}: this is food {food}")

This is one: this is food apple
This is two: this is food eggs
This is three: this is food bread

## Math Statements

Use Python as a calculator to learn it

In [17]:
1+1

2

In [19]:
165 * .20

33.0

Real-world Math problem

In [20]:
expenses = [5, 90, 200, 2000]

In [22]:
total = 0
for expense in expenses:
    total += expense
    print(f"Adding the following expenses: EXPENSE {expense}, TOTAL {total}")

Adding the following expenses: EXPENSE 5, TOTAL 5
Adding the following expenses: EXPENSE 90, TOTAL 95
Adding the following expenses: EXPENSE 200, TOTAL 295
Adding the following expenses: EXPENSE 2000, TOTAL 2295